img{
	filter: sepia(60%);
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: "Raleway";
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 400;
	text-transform: uppercase;
	width: 30%;
	border-bottom: 2px solid rgba(244, 197, 66, .3);
	padding-bottom: 1.66%;
}